@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');


p {
    font-family: arial, helvetica, sans-serif;
    color: darkblue;
}
h1 {
    font-family: 'Lobster', Arial, sans-serif;
    background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
    background-size: cover;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    font-size: 90px;
    margin: 10px 0;
}

li {
    font-size: 40px;
    color: #000;
    font-family: 'Roboto Condensed', Arial, sans-serif;
    font-weight: 100;
    text-shadow: 3px 4px 3px #f74242;
}

img {
    font-size: 45px;
    color: #fff;
    font-family: 'Roboto Condensed', Arial, sans-serif;
    font-weight: 100;
    background-image: linear-gradient(to right, #4b6ba8 ,#000000 );
    text-align: center;
    padding: 25px;
    text-shadow: 0 0 10px black;
}
