<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8' />
<link href='../callendar/fullcalendar.min.css' rel='stylesheet' />
<link href='../callendar/fullcalendar.print.min.css' rel='stylesheet' media='print' />
<script src='../callendar/lib/moment.min.js'></script>
<script src='../callendar/lib/jquery.min.js'></script>
<script src='../callendar/fullcalendar.min.js'></script>
<script>

  $(document).ready(function() {

    $('#calendar').fullCalendar({
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay,listWeek'
      },
      defaultDate: '2018-03-04',
      navLinks: true, // can click day/week names to navigate views
      editable: true,
      eventLimit: true, // allow "more" link when too many events
      events: [
        {
          title: 'Починить 2-ое устройство',
          start: '2018-03-03',
        },
        {
          title: 'Починить 5-ое устройство',
          start: '2018-03-01',
        },
        {
          title: 'Починить 3-ое устройство',
          start: '2018-03-10',
        },
        {
          title: 'Починить 1-ое устройство',
          start: '2018-03-20',
        },
        {
          title: 'Починить 6-ое устройство',
          start: '2018-03-15',
        },
        {
          title: 'Починить 3-ое устройство',
          start: '2018-03-17',
        },
        {
          title: 'Починить 2-ое устройство',
          start: '2018-03-28',
        },
        {
          title: 'Починить 5-ое устройство',
          start: '2018-03-30',
        },
        {
          title: 'Починить 3-ое устройство',
          start: '2018-03-14',
        },
      ]
    });

  });

</script>
<style>

  body {
    margin: 40px 10px;
    padding: 0;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    font-size: 14px;
  }

  #calendar {
    max-width: 900px;
    margin: 0 auto;
  }

</style>
</head>
<body>

  <div id='calendar'></div>

</body>
</html>
