@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
    font-family: 'Roboto';
    font-size: 15px;
    width: 960px;
    allign:center;
}
h1 {
    font-family: 'Roboto Condensed';
    color: red;
    font-size: 30px;
}

h1 +p {
    font-size: 16px;
}

h2 {
    font-family: 'Roboto Condensed';
    color: blue;
    font-size: 25px;
}

h2 + p{
    font-size: 12px;
}
.menu {
    width: 100%;
    font-family: 'Lobster', Arial, sans-serif;

    background: pink;
    background-size: cover;
    color:white;

}
a {
    list-style: none;
}
